#include "Resources.hxx"

IDR_FONT_TEXT_REGULAR   RCDATA "assets\\fonts\\Sora-Regular.ttf"
IDR_FONT_TEXT_MEDIUM    RCDATA "assets\\fonts\\Sora-SemiBold.ttf"
IDR_FONT_ICON_SYMBOL    RCDATA "assets\\fonts\\MaterialSymbols.ttf"
IDR_FONT_ICON_BRAND     RCDATA "assets\\fonts\\DiscordMark.ttf"
IDR_FONT_ICON_AWESOME   RCDATA "assets\\fonts\\FontAwesome-Solid.ttf"
IDR_IMAGE_SETTINGS_GEAR RCDATA "assets\\images\\settings-gear.png"
IDR_IMAGE_MISC_GLOBE    RCDATA "assets\\images\\misc-globe.png"
IDR_IMAGE_EXPLOITS_BOMB RCDATA "assets\\images\\exploits-bomb.png"
IDR_IMAGE_VISUALS_EYE   RCDATA "assets\\images\\visuals-eye.png"
IDR_IMAGE_VISUALS_BODY  RCDATA "assets\\images\\visuals-body.png"
IDR_IMAGE_VISUALS_INFO  RCDATA "assets\\images\\visuals-info.png"
IDR_IMAGE_VISUALS_LAYER RCDATA "assets\\images\\visuals-overlay.png"
IDR_IMAGE_VISUALS_MAP   RCDATA "assets\\images\\visuals-map.png"
IDR_IMAGE_AIMBOT_CROSSHAIRS RCDATA "assets\\images\\aimbot-crosshairs.png"
IDR_IMAGE_AIMBOT_GLOBAL     RCDATA "assets\\images\\aimbot-global.png"
IDR_IMAGE_AIMBOT_SILENT     RCDATA "assets\\images\\aimbot-silent.png"
IDR_IMAGE_AIMBOT_TRIGGER    RCDATA "assets\\images\\aimbot-trigger.png"
IDR_IMAGE_WEAPON_SHOTGUN RCDATA "assets\\images\\weapon-shotgun.png"
IDR_IMAGE_WEAPON_AR      RCDATA "assets\\images\\weapon-ar.png"
IDR_IMAGE_WEAPON_SMG     RCDATA "assets\\images\\weapon-smg.png"
IDR_IMAGE_WEAPON_PISTOL  RCDATA "assets\\images\\weapon-pistol.png"
IDR_IMAGE_WEAPON_SNIPER  RCDATA "assets\\images\\weapon-sniper.png"
